.material-icons.delete{
    color: black;
}

.material-icons.edit{
    color: black;
}

/* .material-icons.search{
    font-size: 20px;
} */

.product-img-size{
    width: fit-content;
    height: 700px;
}

.grid-cols-4 {
    grid-template-columns: repeat(4, minmax(0, 1fr));
}

.grid-cols-6 {
    grid-template-columns: repeat(6, minmax(0, 1fr));
}

.gap-16 {
    gap: 4rem;
}

.h-60 {
    height: 15rem/* 240px */;
}

.mx-20 {
    margin-left: 5rem/* 80px */;
    margin-right: 5rem/* 80px */;
}

.my-8 {
    margin-top: 2rem/* 32px */;
    margin-bottom: 2rem/* 32px */;
}

.px-20 {
    padding-left: 5rem/* 80px */;
    padding-right: 5rem/* 80px */;
}

.border-b-white{
    border: 0px solid transparent;
    border-bottom: 0px solid white;
}

input:focus{
    outline: 0;
}

.container {
    display: grid;
    grid-auto-columns: minmax(15rem, auto);
    grid-template-columns: repeat(auto-fill, minmax(15rem, 1fr));
    grid-gap: 3rem;
}

.border-neutral-900 {
    --tw-bg-opacity: 1;
    border: rgb(23 23 23 / var(--tw-bg-opacity));
}

.items-stretch {
align-items: stretch;
}

.whitespace-nowrap{
    white-space: nowrap;
}

@media (max-width: 1440px) {
    
    .md\:image{
        width: 500px;
        height: auto;
    }

    .md\:text-h1{
        font-size: 2.5rem;
    }
    .md\:text-p{
        font-size: 1rem;
    }
    
    .md\:p-10{
        padding: 2.5rem;
    }
    
}

@media (max-width: 900px) {

    .sm\:text-sm{
        font-size: 0.8rem;
    }

    .sm\:flex-wrap{
        flex-wrap: wrap;
    }

    .sm\:image{
        width: 100%;
    }

    .sm\:width{
        width: 100%;
    }
    
    .sm\:width-sm{
        width: 20ch;
    }

    .sm\:p-5{
        padding: 2.5rem 1rem;
    }

    .sm\:bg-gray-200{
        --tw-bg-opacity: 1;
        background-color: rgb(229 231 235 / var(--tw-bg-opacity));
    }

    .sm\:flex-reverse{
        flex-direction: column-reverse;
    }
}
