.material-icons.delete{
    color: black;
}

.material-icons.edit{
    color: black;
}

.image{
    width: 440px;
    height: auto;
}

.product-desc{
    width: 100%;
}

/* .product-info-container :nth-child(1){
    flex: 0 0 30%;
}

.product-info-container :nth-child(2){
    flex: 0 0 70%;
} */



.product-img-size{
    width: fit-content;
    height: 700px;
}

.grid-cols-4 {
    grid-template-columns: repeat(4, minmax(0, 1fr));
}

.grid-cols-6 {
    grid-template-columns: repeat(6, minmax(0, 1fr));
}

.gap-16 {
    gap: 4rem;
}

.h-60 {
    height: 15rem/* 240px */;
}

.mx-20 {
    margin-left: 5rem/* 80px */;
    margin-right: 5rem/* 80px */;
}

.mx-8{
    margin-left: 2rem;
    margin-right : 2rem;
}

.my-8 {
    margin-top: 2rem/* 32px */;
    margin-bottom: 2rem/* 32px */;
}

.mr-4{
    margin-right: 1rem;
}

.mb-10{
    margin-bottom: 1rem;
}

.px-20 {
    padding-left: 5rem/* 80px */;
    padding-right: 5rem/* 80px */;
}

.border-b-white{
    border: 0px solid transparent;
    border-bottom: 0px solid white;
}

input:focus{
    outline: 0;
}

.container {
    display: grid;
    grid-auto-columns: minmax(15rem, auto);
    grid-template-columns: repeat(auto-fill, minmax(15rem, 1fr));
    grid-gap: 3rem;
}

.border-neutral-900 {
    --tw-bg-opacity: 1;
    border: rgb(23 23 23 / var(--tw-bg-opacity));
}

.items-stretch {
align-items: stretch;
}

.whitespace-nowrap{
    white-space: nowrap;
}

.button-width{
    width: 8rem;
}

.display-none{
    display: none;
}

.nav-select{
    background: none;
    outline: none;
}

.toggle-menu-btn{
    display: grid;
    place-items: center;
    height: 100%;
}

.click-area{
    cursor: pointer;
}

.hamburger{
    width: 26px;
    height: 2px;
    background: white;
    margin-top: 4px;
}

.sidebar{
    display: none;
}

.side-menu-bar{
    position: absolute;
    width: 250px;
    height: max-content;
    top: 68px;
    display: none;
}

.side-menu-bar ul li:hover{
    background: rgb(58, 55, 55);
}

.footer{
    position: fixed;
    bottom: 0;
    height: 26px;
    padding: 0 40px;
    text-align: center;
}

@media (max-width: 1440px) {
    
    .md\:image{
        width: 500px;
        height: auto;
    }

    .md\:text-h1{
        font-size: 2.5rem;
    }
    .md\:text-p{
        font-size: 1rem;
    }
    
    .md\:p-10{
        padding: 2.5rem;
    }
    
}

@media (max-width: 1140px) {
    
    .mm\:image{
        width: 350px;
        height: auto;
    }

    .mm\:text-h1{
        font-size: 2rem;
    }
    
    .mm\:text-h3{
        font-size: 1.4rem;
    }

    .mm\:text-p{
        font-size: 0.9rem;
    }
    
    .mm\:p-10{
        padding: 2.5rem;
    }
    
}

@media (max-width: 900px) {

    .sm\:text-sm{
        font-size: 0.8rem;
    }

    .sm\:flex-wrap{
        flex-wrap: wrap;
    }

    .sm\:image{
        width: 100%;
    }

    .sm\:width{
        width: 100%;
    }
    
    .sm\:width-sm{
        width: 20ch;
    }

    .sm\:p-5{
        padding: 2.5rem 1rem;
    }

    .sm\:bg-gray-200{
        --tw-bg-opacity: 1;
        background-color: rgb(229 231 235 / var(--tw-bg-opacity));
    }

    .sm\:flex-reverse{
        flex-direction: column-reverse;
    }

    .sm\:display-none{
        display: none;
    }

    .sm\:display-block{
        display: block;
    }

    .sidebar{
        display: block;
    }

    .side-menu-bar.active{
        right: 8px;
        display: block;
    }
}
